// -------------------------------
// TYPE
// -------------------------------

html {
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  //   @media #{$medium-up} {
  //     font-size: 18px;
  //   }
}

body {
  color: $text-color;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}

// -------------------------------
// Text
// -------------------------------

p {
  font-size: 1.1rem;
  line-height: 1.3;
  &:not(:last-of-type) {
    margin-bottom: 1rem;
  }
}


// -------------------------------
// Links
// -------------------------------
a {
  color: $primary-color;
  transition: color 300ms ease-in-out;
  &:hover,
  &:focus {
    color: lighten($primary-color, 10%);
  }
}
