// -------------------------------
// VARIABLES
// -------------------------------

// -------------------------------
// Colors
// -------------------------------
$dark-text-color: #333;
$primary-color: #429CD4;
$text-color: #555;
